*{
    font-family: 'Montserrat', sans-serif;
}

#root {
    background-color: lightgray;
    
}
body{

    background-repeat: no-repeat;
}

.comp-container {
    padding: 0 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#icon {
    height: 5rem;
    width: 5rem;
}
.hidden {
    display: none;
}